@media screen and (max-width: 1025px) {
    .dashboard {
        flex-direction: column;
        margin: 50px 20px !important;
    }

    .dashboard-graphs {
        flex-direction: column;
    }

    .dashboard-counts {
        flex-direction: row !important;
        flex-wrap: wrap;
        margin-left: 0 !important;
        margin-top: 10px !important;
        justify-content: space-between !important;
    }
} 
